*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

body {
  background-color: rgb(85, 47, 11);
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  display: flex;
  flex-direction: column;justify-content: space-between;
  
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160 px;
background-color: rgb(134, 109, 15);

}

h1 {
  font-size: 4em;
  font-weight: 400;
  color: aqua;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: rgb(134, 109, 15);
  margin-top: 3em;
  color: #00ffff75;
}